.link {
    display: flex !important;
    margin: 0 -4px;

    @media (--mobile) {
        flex-direction: column;
        margin: 0 0 -4px 0;
    }
}

.text {
    display: block;
    overflow: auto;
    padding: 0 4px;
    clear: both;

    @media (--mobile) {
        padding: 0;
    }
}
