.wrapper {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex: 1 1 auto;
    align-items: stretch;
    pointer-events: none;

    --layout-space: 60px
}

.border {
    display: flex;
    flex: 1 1 auto;
    border: 2px solid var(--text-color);
    margin: 24px;
}

.content {
    position: relative;
    flex: 1 1 auto;
}

.logo {
    position: absolute;
    top: 32px;
    left: 32px;

    svg {
        color: var(--text-color)
    }
}

.block {
    position: absolute;
}

.topLeft {
    top: var(--layout-space);
    left: var(--layout-space)
}

.topRight {
    top: var(--layout-space);
    left: var(--layout-space)

}

.bottomLeft {
    bottom: var(--layout-space);
    left: var(--layout-space)

}

.bottomRight {
    bottom: var(--layout-space);
    left: var(--layout-space)
}

.logo {
    width: 36px;
    height: 40px;
    svg {
        fill: var(--text-color)
    }
}
