.timeline {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    pointer-events: all;
    scrollbar-width: none;
    transition: all 0.3s;
    user-select: none;
    will-change: transform;

    &::-webkit-scrollbar {
        display: none
    }

    --timeline-items-gap: 32px;
    --timeline-items-gap-neg: -32px;
    --timeline-offset: 200px;
    --timeline-offset-neg: -200px;

    @media (max-height: 1000px) {
        --timeline-offset: 400px;
        --timeline-offset-neg: -400px;
    }
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translateY(-50%);
}

.inner {
    position: relative;
    height: 100%;
}


.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--text-color);
    transform: translateY(-50%);

    &::before {
        position: absolute;
        top: 0;
        left: -100px;
        width: 100px;
        height: 3px;
        background: linear-gradient(90deg, rgba(29,29,32,1) 0%, rgba(209,209,209,1) 100%);
        content: '';
    }

    &::after {
        position: absolute;
        top: 0;
        right: -100px;
        width: 100px;
        height: 3px;
        background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(29,29,32,1) 100%);
        content: '';
    }
}


.content {
    display: flex;
    width: calc(100% + 50vw + var(--timeline-offset) - var(--timeline-items-gap));
    height: 100%;
    align-items: flex-start;
    margin: 0 var(--timeline-offset-neg);
}

.item {
    height: 100%;
    padding: 0 var(--timeline-offset);
    &:nth-child(1) {
        margin-left: var(--timeline-offset-neg);
    }
}

