body {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 auto;
    background: var(--background-color);
    overflow-x: hidden;
}

html {
    height: 100%;
    overflow-x: hidden
}
