.card {
    width: var(--timeline-item-width);
    padding: 16px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    background: var(--secondary-accent-color)
}

.title {
    margin-bottom: 8px;
}
