.wrapper {
    position: fixed;
    display: flex;
    width: 100vw;
    min-width: var(--current-low-media);
    height: 100vh;
    flex: 1 1 auto;
    align-items: stretch;
    pointer-events: none;


    --layout-space: 60px
}


@keyframes movingGradient {
    0% {
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, var(--text-color), var(--secondary-accent-color));

    }
    50% {
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg,var(--secondary-accent-color), var(--text-color));

    }
    100% {
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, var(--text-color), var(--secondary-accent-color));
    }
}

.content {
    position: relative;
    flex: 1 1 auto;
    border: 1px solid var(--text-color);
    animation: movingGradient 5s linear infinite;
    border-image: linear-gradient(var(--text-color), var(--secondary-accent-color));
}


.block {
    position: absolute;
    pointer-events: all;
}

.topLeft {
    top: var(--layout-space);
    left: var(--layout-space)
}

.topRight {
    top: var(--layout-space);
    right: var(--layout-space)

}

.bottomLeft {
    bottom: var(--layout-space);
    left: var(--layout-space)

}

.bottomRight {
    right: var(--layout-space);
    bottom: var(--layout-space)
}

.logo {
    width: 36px;
    height: 40px;
    svg {
        fill: var(--text-color)
    }
}

.pageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: calc(var(--layout-space) * 2) var(--layout-space);
}

.page {
    position: relative;
    flex: 1 1 auto;
}

