.page {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    min-width: var(--current-low-media-width);
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
}


.logo {
    width: 70px;

    svg {
        fill: var(--text-color)
    }
}
